@model IEnumerable<Congreso_1.Models.Stand_Type>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StandDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceQuantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StandDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourceQuantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StandType }) |
            @Html.ActionLink("Details", "Details", new { id=item.StandType }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StandType })
        </td>
    </tr>
}

</table>
